<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>740883002390-bm3hbfp28oqu0svoplurr00jod2j4o3o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.740883002390-bm3hbfp28oqu0svoplurr00jod2j4o3o</string>
	<key>API_KEY</key>
	<string>AIzaSyBvKLY1kIjD9KaEoLohkUELBnB9FnsD7Ic</string>
	<key>GCM_SENDER_ID</key>
	<string>740883002390</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rolva.MyMessagingApp-ios-dev</string>
	<key>PROJECT_ID</key>
	<string>mymessagingapp-5cf84</string>
	<key>STORAGE_BUCKET</key>
	<string>mymessagingapp-5cf84.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:740883002390:ios:dafae793967b5fc21cf137</string>
</dict>
</plist>